.privacy-policy-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top */
  }

  .privacy-policy-content {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 8px;
    color: black;
  }