.reel-container {
    padding: 20px;
    background-color: #724a4a;
    border-radius: 5rem;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.644);
    color: black;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    gap: 4rem; /* This sets spacing between flex items */
    
  }
.reel-player{
    background-color: #f9f9f9;
    flex: 1 1 calc(33.33% - 4rem);
    border:black solid 2px;
    border-radius: 2rem;
    box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.644);
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .reel-player {
      flex: 1 1 100%;
  }
}
#reelButton {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #04d326;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
#reelButton:hover {
    background-color: #b3005a;
  }