.featured_container {
    background-color: #f9f9f9;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
    border:black solid 2px;
    border-radius: 2rem;
    box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.644);
    color:black;
  }

  #featuredButton {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #04d326;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
#featuredButton:hover {
    background-color: #b3005a;
  }