* {
  font-family: "PT+Serif", sans-serif;
}

body {
   overflow: hidden;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}
.section-anchor {
  padding-top: 64px; /* height of your navbar */
  margin-top: -64px;
}